body {
  font-family: Arial;
  background: #f2f2f2;
  margin: 0;
}

header {
  background: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

.login {
  text-align: center;
  margin: 30px;
}

textarea {
  width: 100%;
  height: 80px;
}

button {
  padding: 8px 12px;
  margin-top: 5px;
}

.post {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.hidden {
  display: none;
}
